<ion-content class="gradient-background">
  <div>
    <div name="halfTop" class="colorHalfTop"></div>
    <div id="boardGame" name="idGameArea" class="loading-page">
      <div class="div-h20"></div>
      <div class="div-h40 text-align-center ">
        <!-- Loading -->
      </div>
      <div class="div-h12"></div>
      <div class="loading-bar loading-grid">
        <img id="h1" class="loading-icon animate__animated animate__infinite animate__pulse" style="visibility: hidden;">
        <img id="h2" class="loading-icon animate__animated animate__infinite animate__pulse" style="visibility: hidden;">
        <img id="h3" class="loading-icon animate__animated animate__infinite animate__pulse" style="visibility: hidden;">
        <img id="h4" class="loading-icon animate__animated animate__infinite animate__pulse" style="visibility: hidden;">
        <img id="h5" class="loading-icon animate__animated animate__infinite animate__pulse" style="visibility: hidden;">
        <img id="h6" class="loading-icon animate__animated animate__infinite animate__pulse" style="visibility: hidden;">
      </div>

    </div>
    <div name="halfBottom" class="colorHalfBottom"></div>
  </div>
</ion-content>