<ion-content class="gradient-background">
  <div>
    <div name="halfTop" class="colorHalfTop"></div>
    <div id="boardGame" name="idGameArea" class="main-page">
      <div class="div-h2"></div>
      <div class="div-h10 game-logo-header">
        OX GAME
      </div>
      <img class="game-logo">
      <div class="div-h30"></div>
      <div class="div-h60">
        <ion-button expand="block" class="btn-full btn-login" [routerLink]="['/login']">Login</ion-button>
        <ion-button expand="block" class="btn-full btn-register" [routerLink]="['/register']">Register</ion-button>
      </div>
    </div>
    <div name="halfBottom" class="colorHalfBottom"></div>
  </div>
</ion-content>